[submodule "panda"]
  path = panda
  url = https://github.com/Hendrik212/panda.git
[submodule "msgq"]
  path = msgq_repo
  url = https://github.com/commaai/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = https://github.com/commaai/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = https://github.com/commaai/teleoprtc.git
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/tinygrad/tinygrad.git
[submodule "opendbc_repo"]
	path = opendbc_repo
	url = https://github.com/Hendrik212/opendbc.git
[submodule "agnos-builder"]
	path = agnos-builder
	url = https://github.com/Hendrik212/agnos-builder.git
